/*#d2fbd4,#a5dbc2,#7bbcb0,#559c9e,#3a7c89,#235d72,#123f5a*/

body {
    background-color: #2b2d32;
}

.Title img {
    width: 15%;
    background-color: #474e52;
    display:block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5%;

    
}

.Title h1 {
    display:inline-block;
    font-family: Helvetica;
    background-color: #df2800;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 1%;
}

.Title img:hover {
    background-color: #df2800;
}

.Title h1:hover {
    background-color: #474e52;
}