/* #6B6E70, #474B4F, #222629, #86C232, #61892F */

body {
    background-image: url("portfoliobackground.gif");
}

@keyframes logoLoad {
    from {width:100%}
    to {width: 15%;}
}

@keyframes options {
    from{padding:1%}
    to {padding: 1.5%}
}

@keyframes options-close {
    from{padding:1.5%}
    to {padding: 1%;}
}

.Title img {
    animation-name: logoLoad;
    /* animation-delay: 0.25s; */
    animation-duration: 3s;
    animation-fill-mode: forwards;

    background-color: #180e33;
    display:block;
    padding: 1%;
    border-radius: 5%;
}

.TitleNoAnim img {
    width:15%;
    background-color: #180e33;
    display:block;
    padding: 1%;
    border-radius: 5%;
}

.Options h1{
    animation-name: options-close;
    animation-duration: 0.25s;
    display:inline-block;
    font-family: 'Trebuchet MS';
    text-align: center;
    background-color: #f2bd5a;
    width: 15%;
    color: white;
    opacity: 100%;
    padding: 1%;
    border-radius: 1%;
}

.Options #Open {
    background-color: #efb03a;
    animation-name: options;
    animation-duration: 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

/* .Title img:hover {
    background-color: #61892F;
} */

.Options h1:hover {
    background-color: #efb03a;
    animation-name: options;
    /* animation-delay: 0.25s; */
    animation-duration: 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}