@keyframes logoLoad {
    from {width:100%}
    to {width: 15%;}
}

@keyframes fadein {
    from {opacity: 0%}
    to {opacity:100%}
}

@keyframes options {
    from{padding:1%}
    to {padding: 1.5%}
}

@keyframes options-close {
    from{padding:1.5%}
    to {padding: 1%;}
}

html {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.index {
    background-image: url("portfoliobackground.png");
}

.whosjason {
    background-image: url("whosjasonbackground.png");
}

.projects {
    background-image: url("projectsbackground.png");
}

a {
    text-decoration: none;
}

.Title #Logo {
    animation-name: logoLoad;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: #180e33;
    display:inline;
    padding: 1%;
    border-radius: 5%;
    text-decoration: none;
}

.Title #OtherLinks {
    display:inline;
    margin-left: 0.5%;
    width: 3%;
    padding: 1%;
    border-radius: 5%;
}

.Title #OtherLinks2 {
    display:inline;
    margin-left: 0.5%;
    width: 3.7%;
    padding: 1%;
    border-radius: 5%;
}

.Title #LogoNoAnim {
    width:15%;
    background-color: #180e33;
    display:inline;
    padding: 1%;
    border-radius: 5%;
}

.Options h1{
    animation-name: options-close;
    animation-duration: 0.25s;
    display:inline-block;
    min-width: 15%;
    font-family: 'Trebuchet MS';
    text-align: center;
    text-overflow: ellipsis;
    background-color: #f2bd5a;
    color: white;
    padding: 1%;
    border-radius: 1%;
}

.Options #Open {
    background-color: rgb(24,14,51);
    animation-name: options;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.Information {
    animation-name: fadein;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.Information h1 {
    font-family: 'Helvetica Neue';
    color: #1a5190;
    display: block;
    padding: 1%;
    padding-left: 3%;
    font-size:3vw;
}

.Information p {
    background-color: #ffffff80;
    font-family: 'Helvetica Neue';
    font-size:1.2vw;
    display: inline-block;
    text-align: left;
    color: black;
    max-width: 70%;
    padding: 1%;
    margin-left: 3%;
}

.Information #headshot, #travel {
    width:20%;
    float:right;
    padding: 1%;
    border-radius: 5%;
}

.Information #techinterview {
    width:30%;
    display:inline-block;
    padding: 1%;
    border-radius: 5%;
}

.Information #youtube, #github {
    width:5%;
    display:inline-block;
    padding: 1%;
    padding-left:3%;
    border-radius: 5%;
}

.Information #link {
    font-family: 'Helvetica Neue';
    color: #1a5190;
    text-decoration: underline;
    font-size: 1.2vw;
}

.Information #travelcaption {
    font-family: 'Helvetica Neue';
    color: #2c87f0;
    font-size: 120%;
    padding-left: 84%;

}

.Options h1:hover, #OtherLinks:hover, #OtherLinks2:hover {
    background-color: #efb03a;
    animation-name: options;
    animation-duration: 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}